 <!--footer Section Start Here -->
<footer id="footer">

    <!--contact-us-container Start Here -->
    <div class="contact-us-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-11 animate-effect vcenter">

                    <div class="box" style="color:#fff;">
                        <strong>
                            DEVELOP
                        </strong>
                        <span>Continental Plaza</span>
                        <span>411 Hackensack Ave. Suite 200</span>
                        <span>Hackensack, NJ 07601</span>
                        
                    </div>



                    <div class="box call" style="color: #fff;">
                        <strong>1-800-545-2022</strong>
                        <span><a style="color: #fff;" href="mailto:info@developbuilders.com">info@developbuilders.com</a></span>
                    </div>

                    <div class="footerbox footermenu">

                        <li class="active">
                            <a href="/index.html">HOME</a>

                            <a href="/App/Pages/Services/services.html">SERVICES</a>
                            <a href="/App/Pages/Industries/industries.html">INDUSTRIES</a>
                            <a href="/App/Pages/Projects/projects.html">PROJECTS</a>

                        </li>

                        <li>
                            <a href="/App/Pages/Sustainability/sustainability.html">SUSTAINABILITY</a>
                            <a href="/App/Pages/Blogs/industrynews.html">INDUSTRY NEWS</a>
                            <a href="/App/Pages/Blogs/companynews.html">COMPANY NEWS</a>

                        </li>

                        <li>
                            <a href="/App/Pages/About/about.html">ABOUT US</a>
                            <a href="/App/Pages/Faq/faq.html">FAQ</a>

                            <a href="/App/Pages/Careers/career.html">CAREERS</a>
                        </li>

                        <a href="/App/Pages/Contact/contact.html" class="quote">CONTACT US</a><br />
                        <a href="https://linkedin.com" class="footersocial" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="http://facebook.com" class="footersocial" target="_blank"><i class="fa fa-facebook"></i></a>



                    </div>


                </div>

            </div>
            <div class="row">
                <div>
                    <span style="color: darkorange;" class="col-xs-11 animate-effect vcenter">
                        DEVELOP Copyright 2017
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="http://ourdisclaimer.com/?i=DEVELOP">
                            <span style="color: darkorange;">Disclaimer</span>
                        </a>
                    </span>
                </div>
                
            </div>
        <!--contact-us-container End Here -->
    </div>

</footer>
<!--footer Section End Here -->
