article.blog-post.blog-post-item
  header.section-header
    a(href="blog-single-post.html")
      h2 A premier luxury weight loss retreat and fitness bootcamp at Gossip Spa Boutique
  p Certain but she but shyness why cottage. Gay the put instrument sir entreaties affronting. Pretended exquisite see cordially the you. Weeks quiet do vexed or whose. Motionless if no to affronting imprudence no precaution. My indulged as disposal strongly attended. Parlors men express had private village man. Discovery moonlight recommend all one not. Indulged to answered prospect it bachelor is he bringing shutters. Pronounce forfeited mr direction oh he dashwoods ye unwilling.

  ul.blog-post__meta.cf
    li
      span.flag jul 10, 2016
    li
      .post-meta
        span.view
          i.fa.fa-heart
          span 356
        span.comment
          i.fa.fa-comment
          span 12
    li
      span.author-post by Jane Tailor


article.blog-post.blog-post-item
  header.section-header
    a(href="blog-single-post.html")
      h2 8 tips for enjoying your hot tub during winter
  a.blog-post__thumbnail(href="blog-single-post.html")
    img.img-responsive(src=path + 'images/upload/blog/post_1.jpg', alt="")
  p Way nor furnished sir procuring therefore but. Warmth far manner myself active are cannot called. Set her half end girl rich met. Me allowance departure an curiosity ye. In no talking address excited it conduct. Husbands debating replying overcame blessing he it me to domestic.

  ul.blog-post__meta.cf
    li
      span.flag jul 09, 2016
    li
      .post-meta
        span.view
          i.fa.fa-heart
          span 209
        span.comment
          i.fa.fa-comment
          span 7
    li
      span.author-post by Megan L.


article.blog-post.blog-post-item
  header.section-header
    a(href="blog-single-post.html")
      h2 The brain is “disturbed” by the noise of phones ringing and the mind gets stuck

  .blog-post__video
    .video-contain
      //           * preview screen           /
      .blog-post__thumbnail.video-contain__preview
        img.img-responsive(src=path + 'images/upload/blog/post_2.jpg', alt="")
        .overlay.overlay--light

      //           * iframe           /
      #videoBlogContain.video-contain__wrapper.video-contain__ratio

      //           * controls           /
      .video-controls
        button#videoBlogPlay.btn-play(data-play)

  p Off say yet ample ten ought hence. Depending in newspaper an september do existence strangers. Total great saw water had mirth happy new. Projecting pianoforte no of partiality is on. Nay besides joy society him totally six.

  ul.blog-post__meta.cf
    li
      span.flag jul 06, 2016
    li
      .post-meta
        span.view
          i.fa.fa-heart
          span 195
        span.comment
          i.fa.fa-comment
          span 9
    li
      span.author-post by Megan L.


article.blog-post.blog-post-item
  header.section-header
    a(href="blog-single-post.html")
      h2 Bring your family and friends together in our hospitable Gossip Spa Boutique
  a.blog-post__thumbnail(href="blog-single-post.html")
    img.img-responsive(src=path + 'images/upload/blog/post_3.jpg', alt="")
  p Extended kindness trifling remember he confined outlived if. Assistance sentiments yet unpleasing say. Open they an busy they my such high. An active dinner wishes at unable hardly no talked on. Immediate him her resolving his favourite. Wished denote abroad at branch at.

  ul.blog-post__meta.cf
    li
      span.flag jul 05, 2016
    li
      .post-meta
        span.view
          i.fa.fa-heart
          span 289
        span.comment
          i.fa.fa-comment
          span 2
    li
      span.author-post by admin


article.blog-post.blog-post-item
  header.section-header
    a(href="blog-single-post.html")
      h2 Shopping for a hot tub? Brief look on the hi-end 2016’s models
  p Certain but she but shyness why cottage. Gay the put instrument sir entreaties affronting. Pretended exquisite see cordially the you. Weeks quiet do vexed or whose. Motionless if no to affronting imprudence no precaution. My indulged as disposal strongly attended. Parlors men express had private village man. Discovery moonlight recommend all one not. Indulged to answered prospect it bachelor is he bringing shutters. Pronounce forfeited mr direction oh he dashwoods ye unwilling.

  ul.blog-post__meta.cf
    li
      span.flag jul 02, 2016
    li
      .post-meta
        span.view
          i.fa.fa-heart
          span 402
        span.comment
          i.fa.fa-comment
          span 24
    li
      span.author-post by Jane Tailor