.contacts-list
  p.contacts-list__top We will be pleased to serve you. If you have any questions or suggestions regarding Gossip Spa Boutique salon, please use our contacts bellow.

  .contacts-list__main
    p.contacts-list__item
      span.h3 Reception desk
      a(href="tel:+610883414603") +61 (08) 8341 4603
    p.contacts-list__item
      span.h3 Administration
      a(href="tel:+610883886352") +61 (08) 8388 6352
    p.contacts-list__item
      span.h3 E-mail
      a(href="mailto:royal-spa@example.com") royal-spa@example.com
    p.contacts-list__item
      span.h3 Address
      span.address
        | 70 Gloucester Avenue,#[br]
        | HINDMARSH SA 5007,#[br]
        | Australia

//           = share           /
.contacts-share
  h3 Social media
  ul.social-list
    li
      a(href="#").fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.icon.fa.fa-instagram.fa-stack-1x.fa-inverse
    li
      a(href="#").fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.icon.fa.fa-facebook.fa-stack-1x.fa-inverse
    li
      a(href="#").fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.icon.fa.fa-twitter.fa-stack-1x.fa-inverse
//           end share           /