//           ¬ statistic           /
.hm-stat.st-row.st-row--bg
  .container
    .row
      .col-sm-3.hm-stat__item
        .stat-num
          span.count 3562
        span.stat-text happy clients served
      .col-sm-3.hm-stat__item
        .stat-num
          span.count 15019
        span.stat-text aroma-sticks burnt
      .col-sm-3.hm-stat__item
        .stat-num
          span.count 4850
        span.stat-text oz. of massage oil poured
      .col-sm-3.hm-stat__item
        .stat-num
          span.count 16582
        span.stat-text Basalt stones used

//           end statistic           /