//           = about           /
.hm-about.st-row.st-row--hr.st-row--bg
  .container
    .hm-about__main
      .row
        .col-md-7
          .hm-about__info
            section.hm-about__heading
              h2 About us
            p Certain but she but shyness why cottage. Gay the put instrument sir entreaties affronting. Pretended exquisite see cordially the you. Weeks quiet do vexed or whose. Motionless if no to affronting imprudence
            p By impossible of in difficulty discovered celebrated ye. Justice joy manners boy met resolve produce. Bed head loud next plan rent had easy add him. As earnestly shameless elsewhere defective estimable fulfilled of. Esteem my advice it an excuse enable. Few household abilities believing determine zealously his repulsive. To open draw dear be by side like.

            .hm-about__btn
              button.btn.btn--darker(data-toggle="modal", data-target="#modal-inquiry") reservation inquiry

        .col-md-5
          ul.hm-about__list-mode
            li
              span Monday
              span.disabled day off
            li
              span Tuesday
              span 9:00 — 21:00
            li
              span Wednesday
              span 9:00 — 21:00
            li
              span Thursday
              span 8:00 — 23:00
            li
              span Friday
              span 8:00 — 23:00
            li
              span Saturday
              span 8:00 — 23:00
            li
              span Sunday
              span 8:00 — 23:00

//           end about           /