//           ¬ features           /
.hm-features-2.st-row
  .container
    .row
      .col-xs-6.col-sm-4.item
        .hm-features-2__item
          .hm-features-2__icon
            i.pe-7s-diamond
          span.h2 Premium Rooms
          p Comfort & clean suites with king-size beds. Brand-new furniture and complimentary living kit

      .col-xs-6.col-sm-4.item
        .hm-features-2__item
          .hm-features-2__icon
            i.pe-7s-bell
          span.h2 Concierge Service
          p Our friendly and hospitalable staff will do their best to make your accomodation pleasant

      .col-xs-12.col-sm-4.item
        .hm-features-2__item
          .hm-features-2__icon
            i.pe-7s-wine
          span.h2 Bar & Restaurant
          p Enjoy european cousine from the famous chefs in our special in-hotel restaurant

//           end features           /