//           = section intro           /
section.intro-banner.intro-bg(style="background-image: url('#{path + 'images/upload/intro/intro_home.jpg'}')")
  .intro-banner__inner
    .extra-title
      span.extra-title__top welcome to
      h1 Gossip Spa Boutique
      figure.extra-title__decor
        img.svg.brand-decor(src=path + 'images/decor.svg', alt="Decoration")
      span.small Your relaxation paradise
//           end section intro           /