//           = lightbox gallery           /
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
  .slides
  a.prev(href='#')
  a.next(href='#')
  a.close(href='#')
  //- ol.indicator

//           end lightbox gallery           /
