//           = mobile menu           /
#panelMenu.panel-menu
  nav.panel-menu-nav
    header.panel-menu-header
      h1 Gossip Spa Boutique
    .panel-menu-content
      a.h4.panel-menu-heading(href="#" data-menu='close' data-title='Menu')
        span.text Menu
        span.icon-back.pe-7s-angle-left-circle

      ul.panel-list
        li.panel-list-current
          a.panel-list-item(href='#' role='button')
            span Home

        li.panel-list-level
          a.h4.panel-menu-heading.menu-back(href='#' role='button' data-title='Home')
            span back

          ul.panel-list
            li
              a(href='index.html') Home static
            li
              a(href='index-slider.html') Home slider
            li
              a(href="index-video.html") Home video
            li
              a(href="index-fixed-header.html") Home fixed header


        li.panel-list-current
          a.panel-list-item(href='#' role='button')
            span Services

        li.panel-list-level
          a.h4.panel-menu-heading.menu-back(href='#' role='button' data-title='Services')
            span back

          ul.panel-list
            li
              a(href='services.html') Services-1
            li
              a(href='services-2.html') Services-2


        li.panel-list-current
          a.panel-list-item(href='#' role='button')
            span Gallery

        li.panel-list-level
          a.h4.panel-menu-heading.menu-back(href='#' role='button' data-title='Gallery')
            span back

          ul.panel-list
            li
              a(href='gallery.html') Gallery-1
            li
              a(href='gallery-2.html') Gallery-2
            li
              a(href='gallery-3.html') Gallery-3


        li.panel-list-current
          a.panel-list-item(href='#' role='button')
            span Blog

        li.panel-list-level
          a.h4.panel-menu-heading.menu-back(href='#' role='button' data-title='Blog')
            span back

          ul.panel-list
            li
              a(href='blog-post-list.html') Blog posts list
            li
              a(href='blog-single-post.html') Blog single post


        li.panel-list-current
          a.panel-list-item(href='#' role='button')
            span Rooms

        li.panel-list-level
          a.h4.panel-menu-heading.menu-back(href='#' role='button' data-title='Rooms')
            span back

          ul.panel-list
            li
              a(href='rooms-list.html') Rooms list
            li
              a(href='room-details.html') Room details


        li.panel-list-current
          a.panel-list-item(href='#' role='button')
            span Info

        li.panel-list-level
          a.h4.panel-menu-heading.menu-back(href='#' role='button' data-title='Info')
            span back

          ul.panel-list
            li
              a(href="about.html") About
            li
              a(href="contacts.html") Contacts


    .panel-menu-footer
      ul.social-list
        li
          a(href="#").fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-instagram.fa-stack-1x.fa-inverse
        li
          a(href="#").fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-facebook.fa-stack-1x.fa-inverse
        li
          a(href="#").fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-twitter.fa-stack-1x.fa-inverse
//           end mobile menu           /


//- blocker content
#overPage.over-page