//           ¬ services-menu           /
section.services-menu.st-row.st-row--gray
  .container
    h2.section-title Restaurant Menu

    .services-menu__inner
      .row
        .col-xs-12.col-md-6
          .services-menu__item
            h3 Entrees
            ul.services-menu__list
              li
                span Gruper fillet rolls stuffed with crab meat
                span $19.90
              li
                span Chicken kebab
                span $17.90
              li
                span Cheese blintzes
                span $17.90
              li
                span English ham & eggs
                span $8.00
              li
                span Fish & chips
                span $9.90


          .services-menu__item
            h3 Main course
            ul.services-menu__list
              li
                span Braised lamb shank with port & thyme sauce
                span $14.00
              li
                span Steak & ale pie
                span $21.50
              li
                span Chicken Fajitas
                span $8.90
              li
                span Baked trout with tomato & chervil
                span $14.00
              li
                span Mediterranean chicken in a sweet & spicy sauce
                span $9.50
              li
                span Steamd whale sea bass
                span $15.90
              li
                span Grilled duck breast with orange sauce
                span $21.50
              li
                span Stir fried duck with basil leaves
                span $21.90
              li
                span Fresh salmon in a dry curry
                span $18.50
              li
                span Crispy monkfish with red curry sauce
                span $9.50


          .services-menu__item
            h3 Salads
            ul.services-menu__list
              li
                span Hot & spicy seafood salad
                span $4.00
              li
                span Deep fried prawns in green mango salad
                span $7.50
              li
                span Spicy minced pork salad
                span $5.90
              li
                span Grilled pork salad
                span $4.00
              li
                span Caesar salad
                span $9.50
              li
                span Greek salad
                span $5.90
              li
                span Tuna salad
                span $4.50


        .col-xs-12.col-md-6
          .services-menu__item
            h3 Soups
            ul.services-menu__list
              li
                span Prawn hot & sour soup
                span $4.00
              li
                span Chicken hot & sour soup
                span $7.50
              li
                span Vegetable soup with pork
                span $5.90
              li
                span Mushroom soup
                span $4.00


          .services-menu__item
            h3 Grill corner
            ul.services-menu__list
              li
                span Rib-eye steak
                span $29.90
              li
                span Gypsy steak
                span $29.90
              li
                span Pork BBQ (6 pieces)
                span $18.50
              li
                span Hungarian sausage (mild or spicy)
                span $15.00


          .services-menu__item
            h3 Desert
            ul.services-menu__list
              li
                span Assortment of french candies
                span $9.90
              li
                span Italian ice cream
                span $9.90
              li
                span Cream-bruyle
                span $8.50
              li
                span Banana split
                span $5.00
              li
                span Cake Napoleon
                span $4.50



//           end services-menu           /