//           ¬ services-panels           /
section.services-panels.st-row
  .container
    header
      h1.title-hidden title
    .row
      .col-sm-6
        .img-wrap
          img(src=path + 'images/upload/services-2/item_1.jpg', alt="Full Body Massage")
      .col-sm-6
        section.sv-info-panel
          header.sv-info-panel__heading
            h2 Full Body Massage
            span.cost $130 / 60 min.

          .sv-info-panel__main
            p He as compliment unreserved projecting. Between had observe pretend delight for believe. Do newspaper questions consulted sweetness do. Our sportsman his unwilling fulfilled departure law. Now world own total saved above her cause table. Wicket myself her square remark the should far secure sex. Smiling cousins warrant law explain for whether.


    .row
      .col-sm-6.pull-right
        .img-wrap.right
          img(src=path + 'images/upload/services-2/item_2.jpg', alt="Basalt Stone Therapy")
      .col-sm-6
        section.sv-info-panel.sv-info-panel--left
          header.sv-info-panel__heading
            h2 Basalt Stone Therapy
            span.cost $90 / 60 min.

          .sv-info-panel__main
            p Up unpacked friendly ecstatic so possible humoured do. Ample end might folly quiet one set spoke her. We no am former valley assure. Four need spot ye said we find mile.

            p Speaking throwing breeding betrayed children my to. Me marianne no he horrible produced ye.

    .row
      .col-sm-6
        .img-wrap
          img(src=path + 'images/upload/services-2/item_3.jpg', alt="Facial Massage")
      .col-sm-6
        section.sv-info-panel
          header.sv-info-panel__heading
            h2 Facial Massage
            span.cost $120 / 60 min.

          .sv-info-panel__main
            p Cousin no itself eldest it in dinner latter missed no. Boisterous estimating interested collecting get conviction friendship say boy. Him mrs shy article smiling respect opinion excited. Welcomed humoured rejoiced peculiar to in an.

    .row
      .col-sm-6.pull-right
        .img-wrap.right
          img(src=path + 'images/upload/services-2/item_4.jpg', alt="Aromatherapy")
      .col-sm-6
        section.sv-info-panel.sv-info-panel--left
          header.sv-info-panel__heading
            h2 Aromatherapy
            span.cost $110 / 30 min.

          .sv-info-panel__main
            p Style never met and those among great. At no or september sportsmen he perfectly happiness attending. Depending listening delivered off new she procuring satisfied sex existence. Person plenty answer to exeter it if. Law use assistance especially resolution cultivated did out sentiments unsatiable. Way necessary had intention happiness but september delighted his curiosity. Furniture furnished or on strangers neglected remainder engrossed.
//           end services-panels           /

