//           ¬ services-slides           /
.services-slides
  section.services-slide.st-row.intro-bg(style="background-image: url('#{path + 'images/upload/services/item_1.jpg'}')")
    .st-row__inner.over
      .container
        h4.services-slide__title wedding celebrations
        .services-slide__helper
          h3 Wedding celebrations
          p Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an. She projection advantages resolution son indulgence.


  section.services-slide.st-row.intro-bg(style="background-image: url('#{path + 'images/upload/services/item_2.jpg'}')")
    .st-row__inner.over
      .container
        h4.services-slide__title banquets & private parties
        .services-slide__helper
          h3 Banquets & private parties
          p Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an. She projection advantages resolution son indulgence.


  section.services-slide.st-row.intro-bg(style="background-image: url('#{path + 'images/upload/services/item_3.jpg'}')")
    .st-row__inner.over
      .container
        h4.services-slide__title Business meetings
        .services-slide__helper
          h3 Business meetings
          p Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an. She projection advantages resolution son indulgence.


  section.services-slide.st-row.intro-bg(style="background-image: url('#{path + 'images/upload/services/item_4.jpg'}')")
    .st-row__inner.over
      .container
        h4.services-slide__title spa, beauty, hair shops
        .services-slide__helper
          h3 Spa, beauty, hair shops
          p Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an. She projection advantages resolution son indulgence.

//           end services-slides           /