//           ¬ services-price-list           /
section.services-price.st-row
  .container
    header.hr-heading.rotate
      h1 Pricing
      small save more on package order
      h2.section-title Special Packages

    .row
      .col-xs.col-sm-6.col-md-5.col-md-offset-1.col-lg-3.col-lg-offset-0
        section.pricing-panel
          header.pricing-panel__heading
            h2 Bundle of Joy
            .pricing-panel__heading-rw
              span.cost $690
          ul.pricing-panel__main
            li
              | Herbal body cure
              span 50 min.
            li
              | Signature therapeutic message
              span 50 min.
            li
              | Peppermint lavender refresher
              span 30 min.
            li
              | Luxury spa manicure
            li
              | Luxury spa pedicure

          .pricing-panel__footer
            a.btn.btn--darker(href="#") select


      .col-xs.col-sm-6.col-md-5.col-lg-3
        section.pricing-panel
          header.pricing-panel__heading
            h2 Bridal
            .pricing-panel__heading-rw
              span.cost $590
          ul.pricing-panel__main
            li
              | Aromatherapy massage
              span 60 min.
            li
              | Ultimate lift and glow facial
              span 50 min.
            li
              | Express manicure
            li
              | Express pedicure
            li
              | Nourishing hair cure

          .pricing-panel__footer
            a.btn.btn--darker(href="#") select


      .col-xs.col-sm-6.col-md-5.col-md-offset-1.col-lg-3.col-lg-offset-0
        section.pricing-panel.pricing-panel--hero
          header.pricing-panel__heading
            h2 Ultimate
            .pricing-panel__heading-rw
              span.cost $550
              span.disabled $750
          ul.pricing-panel__main
            li
              | Serenity massage
              span 80 min.
            li
              | Advanced facial care
              span 50 min.
            li
              | Reconstructive hair cure
            li
              | Shiny hair treatment
            li
              | Luxury spa manicure
            li
              | Luxury spa pedicure

          .pricing-panel__footer
            a.btn.btn--warn(href="#") select

          .flag.flag--top-right featured



      .col-xs.col-sm-6.col-md-5.col-lg-3
        section.pricing-panel
          header.pricing-panel__heading
            h2 Sweet Couple
            .pricing-panel__heading-rw
              span.cost $490
          ul.pricing-panel__main
            li
              | Couples massage (for 2)
              span 110 min.
            li
              | Aromatherapy message (for 2)
              span 60 min.
            li
              | Express manicure (for 2)
            li
              | Express pedicure (for 2)

          .pricing-panel__footer
            a.btn.btn--darker(href="#") select

//           end services-price-list           /