//           ¬ services-menu           /
section.services-menu.st-row.st-row--gray
  .container
    header.hr-heading.rotate
      h1 Beauty menu
      small make yourself looking perfect

    .services-menu__inner
      .row
        .col-sm-6
          .services-menu__item
            h3 Body
            ul.services-menu__list
              li
                span Herbal body cure
                span $190 / 80 min.
              li
                span Hydrossage
                span $210 / 80 min.
              li
                span Thermal mud wrap
                span $160
              li
                span Lavender refresher
                span $120 / 50 min.
              li
                span Body scrub
                span $200


          .services-menu__item
            h3 Face
            ul.services-menu__list
              li
                span Collagen facial
                span $150
              li
                span Revitalazing mask
                span $110
              li
                span Advanced care
                span $190 / 50 Min.
              li
                span Gel peel
                span $80
              li
                span Hydrating facial
                span $120


          .services-menu__item
            h3 Hair
            ul.services-menu__list
              li
                span Nourishing hair cure
                span $90
              li
                span Reconstructive hair cure
                span $120
              li
                span Ladies styling
                span $100
              li
                span Gentleman’s styling
                span $80
              li
                span Stylist design consultation
                span $50 / 60 min.
              li
                span Anti-aging hair care
                span $80
              li
                span Blow dry with styling
                span $90+


        .col-sm-6
          .services-menu__item
            h3 Manicures & pedicures
            ul.services-menu__list
              li
                span Classic manicure
                span $80
              li
                span Luxury manicure
                span $120
              li
                span Classic pedicure
                span $100
              li
                span Luxury pedicure
                span $140


          .services-menu__item
            h3 Fitness
            ul.services-menu__list
              li
                span Yoga
                span $40 / 60 Min.
              li
                span Meditation
                span $20 / 30 Min.
              li
                span Private training
                span $50 / 60 Min.


          .services-menu__item
            h3 Additional services
            ul.services-menu__list
              li
                span Steam room
                span $50 / 30 Min.
              li
                span Nail art
                span $20+
              li
                span Eye treatment
                span $120 / 60 Min.
              li
                span Skin repair after sun burn
                span $60+
//           end services-menu           /

