 <!--header Section Start Here -->

<header id="header">
    <!--           = mobile menu           /-->
    <div id="panelMenu" class="panel-menu">
        <nav class="panel-menu-nav">
            <header class="panel-menu-header">
                <h1>Gossip Spa Boutique</h1>
            </header>
            <div class="panel-menu-content">
                <a href="#" data-menu="close" data-title="Menu" class="h4 panel-menu-heading"><span class="text">Menu</span><span class="icon-back pe-7s-angle-left-circle"></span></a>
                <ul class="panel-list">
                    <li class="panel-list-current"><a href="#" role="button" class="panel-list-item"><span>Home</span></a></li>
                    <li class="panel-list-level">
                        <a href="#" role="button" data-title="Home" class="h4 panel-menu-heading menu-back"><span>back</span></a>
                        <ul class="panel-list">
                            <li><a href="index.html">Home static</a></li>
                            <li><a href="index-slider.html">Home slider</a></li>
                            <li><a href="index-video.html">Home video</a></li>
                            <li><a href="index-fixed-header.html">Home fixed header</a></li>
                        </ul>
                    </li>
                    <li class="panel-list-current"><a href="#" role="button" class="panel-list-item"><span>Services</span></a></li>
                    <li class="panel-list-level">
                        <a href="#" role="button" data-title="Services" class="h4 panel-menu-heading menu-back"><span>back</span></a>
                        <ul class="panel-list">
                            <li><a href="services.html">Services-1</a></li>
                            <li><a href="services-2.html">Services-2</a></li>
                        </ul>
                    </li>
                    <li class="panel-list-current"><a href="#" role="button" class="panel-list-item"><span>Gallery</span></a></li>
                    <li class="panel-list-level">
                        <a href="#" role="button" data-title="Gallery" class="h4 panel-menu-heading menu-back"><span>back</span></a>
                        <ul class="panel-list">
                            <li><a href="gallery.html">Gallery-1</a></li>
                            <li><a href="gallery-2.html">Gallery-2</a></li>
                            <li><a href="gallery-3.html">Gallery-3</a></li>
                        </ul>
                    </li>
                    <li class="panel-list-current"><a href="#" role="button" class="panel-list-item"><span>Blog</span></a></li>
                    <li class="panel-list-level">
                        <a href="#" role="button" data-title="Blog" class="h4 panel-menu-heading menu-back"><span>back</span></a>
                        <ul class="panel-list">
                            <li><a href="blog-post-list.html">Blog posts list</a></li>
                            <li><a href="blog-single-post.html">Blog single post</a></li>
                        </ul>
                    </li>
                    <li class="panel-list-current"><a href="#" role="button" class="panel-list-item"><span>Rooms</span></a></li>
                    <li class="panel-list-level">
                        <a href="#" role="button" data-title="Rooms" class="h4 panel-menu-heading menu-back"><span>back</span></a>
                        <ul class="panel-list">
                            <li><a href="rooms-list.html">Rooms list</a></li>
                            <li><a href="room-details.html">Room details</a></li>
                        </ul>
                    </li>
                    <li class="panel-list-current"><a href="#" role="button" class="panel-list-item"><span>Info</span></a></li>
                    <li class="panel-list-level">
                        <a href="#" role="button" data-title="Info" class="h4 panel-menu-heading menu-back"><span>back</span></a>
                        <ul class="panel-list">
                            <li><a href="about.html">About</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-menu-footer">
                <ul class="social-list">
                    <li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></a></li>
                    <li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a></li>
                    <li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!--           end mobile menu           /-->

    <div id="overPage" class="over-page"></div>
    <!--           = Page Header           /-->
    <header id="panelHeader" class="page-header">
        <nav id="navbar" class="navbar navbar-default">
            <div class="navbar__topline">
                <div class="navbar-header container">
                    <a id="trigger" href="#" role="button" class="menu-trigger visible-xs"><span class="menu-trigger__elem"></span></a><a href="index.html" class="navbar-brand"><img src="images/logo.svg" alt="Welcome to Gossip Spa Boutique" class="logo svg img-responsive" /></a>
                    <ul class="social-list pull-right hidden-xs">
                        <li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="icon fa fa-instagram fa-stack-1x fa-inverse"></i></a></li>
                        <li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="icon fa fa-facebook fa-stack-1x fa-inverse"></i></a></li>
                        <li><a href="#" class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="icon fa fa-twitter fa-stack-1x fa-inverse"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="navbar__menu">
                <div class="container">
                    <ul class="nav navbar-nav navbar-menu hidden-xs">
                        <li>
                            <a href="#"><span>Home</span><span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Home static</a></li>
                                <li><a href="index-slider.html">Home slider</a></li>
                                <li><a href="index-video.html">Home video</a></li>
                                <li><a href="index-fixed-header.html">Home fixed header</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Services</span><span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="services.html">Services-1</a></li>
                                <li><a href="services-2.html">Services-2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Gallery</span><span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="gallery.html">Gallery-1</a></li>
                                <li><a href="gallery-2.html">Gallery-2</a></li>
                                <li><a href="gallery-3.html">Gallery-3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Blog</span><span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-post-list.html">Blog posts list</a></li>
                                <li><a href="blog-single-post.html">Blog single post</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Rooms</span><span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="rooms-list.html">Rooms list</a></li>
                                <li><a href="room-details.html">Room details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span>Info</span><span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="about.html">About</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar__reservation">
                        <li><a href="#" data-toggle="modal" data-target="#modal-inquiry" class="button button--reservation"><i class="fa fa-bookmark-o"></i>Reservation</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--           end Page Header           /-->
    <!--           ¬ Content Aria           /-->

</header>    
