/*************************************

    TYPOGRAPHY

*************************************/

$fz: 1em;
$fz-upper: 12;
$fz-sm: 14px;
$lh: 30/18 + em;

// letter-spacing
$ls: 0.2em;
$ls-xs: 0.08em;

// fonts
$font-family: $font-family-serif;
$playfair: "Playfair Display", Georgia, "Times New Roman", Times, serif;
$lato: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;


h1, .h1, h2, h3, .h3, h5, h6 {
  color: $gray-base;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: $gray-light;
  }
}

.small {
  font-family: $playfair;
  font-size: $fz;
  line-height: 1;
}

h1, .h1 {
  font-size: 48/18 + em;
  margin-bottom: 30/48 + em;
}

h1, .h1, h3, .h3 {
  font-weight: 700;
}

h2, .h2 {
  font-size: 30/18 + em;
  line-height: 48/30 + em;
  margin-top: 0;
  margin-bottom: 1em;
}

h3, .h3 {
  margin: 0;
  font-family: $font-family;
  line-height: 30/18 + em;
}

h4, .h4 {
  font-family: $lato;
  letter-spacing: 200/1000 + em;
  text-transform: uppercase;
}


.section-header {
  margin-bottom: 30/18 + em;
  a {
    font-size: 1em;
  }

  h2 {
    margin: 0;
  }
}


label, .label-control {
  letter-spacing: $ls;
}


// Text
//
p, .list-type ul {
  line-height: $lh;
  margin-bottom: 13/18 + em;
}

.list-type ul {
  text-align: left;
}

p a {
  font-family: inherit;
}

mark {
  padding: 0;
  color: #fff;
  background-color: $brand-warning;
}

figcaption {
  font-family: $font-family;
}

.list-type {
  position: relative;
  padding-left: 17/18 + em;
  margin-left: -17px;

  li:before {
    content: ' ';
    position: absolute;
    left: 0;
    display: block;
    height: 1em;
    width: 1em;
    margin-top: 11/7 + em;
    line-height: 1;
    font-size: 7/18 + em;
    background-color: $brand-warning;
    transform: rotate(-45deg);
  }
}

.link-more {
  font-family: $font-family;
  font-size: 18/18 + em;
  line-height: 1;
  vertical-align: middle;
  color: $brand-warning;
  padding-bottom: 5px;
  border-bottom: 1px solid $brand-warning;

  .fa {
    text-align: right;
    font-size: 17/18 + em;
    margin-left: 8px;
    vertical-align: bottom;
  }
}

// blockquote
//
blockquote {
  padding: 0;
  position: relative;
  font-style: italic;
  font-size: 22/18 + em;
  line-height: 36/22 + em;
  padding-left: 48/22 + em;
  margin-left: -48px;
  border: none;
  text-align: left;
  color: $gray-base;

  p {
    margin-bottom: 0;
    font-size: 1em;

    &:before {
      content: '“';
      font-family: $playfair;
      position: absolute;
      font-size: 105/22 + em;
      left: 0;
      top: -38/105 + em;
      line-height: 1em;
      font-style: normal;
      display: inline-block;
      color: $brand-warning;
    }
  }

  footer {
    text-align: right;
    cite {
      font-style: normal;
    }
    &:before {
      content: '\00A0 \2014';
    }
  }

  @include media('<380px') {
    font-size: 1em;
  }
}

@include media('<md') {
  blockquote,
  .list-type {
    margin-left: 0;
  }
}

h1.title-hidden {
  display: none;
}


// Template classess
//
%text-brand {
  font-family: $lato;
  color: $brand-warning;
  text-transform: uppercase;
  letter-spacing: $ls;
  font-size: 1em;
  line-height: 30/18 + em;
  vertical-align: middle;
}

%text-brand-xs {
  font-family: $lato;
  color: $brand-warning;
  text-transform: uppercase;
  font-size: 14/18 + em;
  font-weight: 700;
  line-height: 30/14 + em;
  letter-spacing: $ls;
  vertical-align: middle;
}

%text-brand-lg {
  font-family: $lato;
  color: $brand-warning;
  text-transform: uppercase;
  letter-spacing: $ls;
  font-size: 30/18 + em;
  line-height: 1em;
  vertical-align: middle;
}

@include media('<380px') {
  %text-brand,
  %text-brand-xs,
  %text-brand-lg {
    letter-spacing: $ls-xs;
  }
}