//- Custom Configuration ( variables / settings template )

- var pad = '\n';
- var padx2 = '\n\n';

//- Description and Titles
- var pageTitle = 'Gossip Spa Boutique';
- var descrPage = 'Gossip Spa Boutique';
- var appleTitle = 'Gossip Spa Boutique';

//- Theme
- var msappColor = '\#2F3BA2';
- var themeColor = '\#2F3BA2';

- var pathTouch = 'images/touch/';

//- root path images
- var path = ''