//- Google Fonts
-
  fonts = [
    'Playfair+Display:400,700%7CLato:400,700'
  ]

// Google fonts
link(href='https://fonts.googleapis.com/css?family=#{fonts}', rel='stylesheet')
=pad

// libs styles
link(rel="stylesheet", href="css/bootstrap.min.css")
link(rel="stylesheet", href="css/bootstrap-clockpicker.min.css")
link(rel="stylesheet", href="css/bootstrap-datepicker3.min.css")
link(rel="stylesheet", href="css/animsition.css")
link(rel="stylesheet", href="css/animate.css")
link(rel="stylesheet", href="css/swiper.min.css")
link(rel="stylesheet", href="css/owl.carousel.min.css")
link(rel="stylesheet", href="css/owl.theme.default.min.css")
link(rel="stylesheet", href="css/blueimp-gallery.min.css")
link(rel="stylesheet", href="css/jquery.mb.YTPlayer.min.css")

// Icon pack
link(rel="stylesheet", href="css/font-awesome.min.css")
link(rel="stylesheet", href="css/pe-icon-7-stroke.css")

// Core style
link(rel="stylesheet", href="style.css")