//- jquery libs
script(src='js/vendor/jquery-2.2.3.min.js')
script(src='js/vendor/rem.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/animsition.min.js')

//-           * grid masonry          /
script(src='js/imagesloaded.pkgd.min.js')
script(src='js/masonry.pkgd.min.js')
script(src='js/isotope.pkgd.min.js')

script(src='js/bootstrap-datepicker.min.js')
script(src='js/bootstrap-clockpicker.min.js')
script(src='js/jquery.counterup.min.js')
script(src='js/jquery.equalheights.min.js')
script(src='js/jquery.barrating.min.js')

//-           * Media           /
script(src='js/owl.carousel.min.js')
script(src='js/swiper.jquery.min.js')
script(src='js/blueimp-gallery.min.js')
script(src='js/jquery.mb.YTPlayer.min.js')

//-           * paralax           /
script(src='js/jarallax.min.js')
script(src='js/jarallax-video.min.js')
script(src='js/slideout.js')

// Core script
script(src='js/main.js')

