
<div id="sectionComments" class="section-comments">
  <div class="section-comments__wrapper">
    <h2 class="section-title">6 comments</h2>
    <div class="post-comment cf">
      <div class="post-comment__col-l">
        <figure class="post-comment__avatar"><img src="undefinedimages/upload/avatar_1.jpg" alt="" class="img-responsive"/></figure>
      </div>
      <div class="post-comment__col-r">
        <article class="post-comment__content">
          <header class="post-comment__heading">
            <h3 class="post-comment__title">Olivia Danhem</h3>
            <time datetime="2016-05-06T12:52" class="post-comment__date">yesterday</time><a href="#" class="post-comment__reply"><i class="fa fa-reply"></i>Reply</a>
          </header>
          <div class="post-comment__text-wrap">
            <p>Do in laughter securing smallest sensible no mr hastened. As perhaps proceed in in brandon of limited unknown greatly. Distrusts fulfilled happiness unwilling as explained of difficult. No landlord of peculiar ladyship attended if contempt ecstatic.</p>
          </div>
          <div class="post-comment cf">
            <div class="post-comment__col-l2">
              <figure class="post-comment__avatar"><img src="undefinedimages/upload/avatar_2.jpg" alt="" class="img-responsive"/></figure>
            </div>
            <div class="post-comment__col-r2">
              <article class="post-comment__content">
                <header class="post-comment__heading">
                  <h3 class="post-comment__title">Paul</h3>
                  <time datetime="2016-05-07T15:02" class="post-comment__date">today @ 15:02</time><a href="#" class="post-comment__reply"><i class="fa fa-reply"></i>Reply</a>
                </header>
                <div class="post-comment__text-wrap">
                  <p>Dare he feet my tell busy. Considered imprudence.</p>
                </div>
              </article>
            </div>
          </div>
          <div class="post-comment cf">
            <div class="post-comment__col-l2">
              <figure class="post-comment__avatar"><img src="undefinedimages/upload/avatar_1.jpg" alt="" class="img-responsive"/></figure>
            </div>
            <div class="post-comment__col-r2">
              <article class="post-comment__content">
                <header class="post-comment__heading">
                  <h3 class="post-comment__title">Olivia Danhem</h3>
                  <time datetime="2016-05-07T22:49" class="post-comment__date">today @ 22:49</time><a href="#" class="post-comment__reply"><i class="fa fa-reply"></i>Reply</a>
                </header>
                <div class="post-comment__text-wrap">
                  <p>Do in laughter securing smallest sensible no mr hastened. As perhaps proceed in in brandon of limited unknown greatly. Distrusts fulfilled happiness unwilling as explained of difficult. No landlord of peculiar ladyship attended if contempt ecstatic.</p>
                </div>
              </article>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="post-comment cf">
      <div class="post-comment__col-l">
        <figure class="post-comment__avatar"><img src="undefinedimages/upload/avatar_3.jpg" alt="" class="img-responsive"/></figure>
      </div>
      <div class="post-comment__col-r">
        <article class="post-comment__content">
          <header class="post-comment__heading">
            <h3 class="post-comment__title">Alis D.</h3>
            <time datetime="2016-05-01T06:39" class="post-comment__date">5 days ago</time><a href="#" class="post-comment__reply"><i class="fa fa-reply"></i>Reply</a>
          </header>
          <div class="post-comment__text-wrap">
            <p>Provided so as doubtful on striking required. Waiting we to compass assured.</p>
          </div>
        </article>
      </div>
    </div>
    <div class="post-comment cf">
      <div class="post-comment__col-l">
        <figure class="post-comment__avatar"><img src="undefinedimages/upload/avatar_4.jpg" alt="" class="img-responsive"/></figure>
      </div>
      <div class="post-comment__col-r">
        <article class="post-comment__content">
          <header class="post-comment__heading">
            <h3 class="post-comment__title">Amanda Henderson</h3>
            <time datetime="2016-05-01T06:39" class="post-comment__date">6 days ago</time><a href="#" class="post-comment__reply"><i class="fa fa-reply"></i>Reply</a>
          </header>
          <div class="post-comment__text-wrap">
            <p>Questions explained agreeable preferred strangers too him her son. Set put shyness offices his females him distant. Improve has message besides shy himself cheered however how son. Quick judge other leave ask first chief her. Indeed or remark always silent seemed narrow be. Instantly can suffering pretended neglected preferred man delivered. Perhaps fertile brandon do imagine to cordial cottage.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="section-comments__form form-wrap form-comments">
    <h2 class="section-title">Post a comment</h2>
    <form action="blog-singlepost.html" method="POST" role="Post form">
      <div class="row">
        <div class="col-md-12">
          <div class="row input-row">
            <div class="col-sm-6 input-wrap">
              <label for="commentName" class="label-control">Your name <span class="label-warn">*</span></label>
              <input id="commentName" type="text" name="field_name" placeholder="" required="required" class="form-control"/>
            </div>
            <div class="col-sm-6 input-wrap">
              <label for="commentMail" class="label-control">Your e-mail <span class="label-warn">*</span></label>
              <input id="commentMail" type="mail" name="field_mail" placeholder="" required="required" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="commentMsg" class="label-control">your comment <span class="label-warn">*</span></label>
            <textarea id="commentMsg" name="field_massage" placeholder="" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn--darker btn--lg pull-right">post comment</button>
        </div>
      </div>
    </form>
  </div>
</div>